@use './../../style/libs/variable' as *;

.section__container {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 30px;
    margin-top: 40px;
    @media (max-width: $screen-md) {
        width: 100%;
    }
}

.section__text {
    font-weight: 500;
}

