@use '../../style/libs/variable' as *;

.banner {
    position: relative;
    border-radius: 12px;
    max-width: 1240px;
    width: 100%;
    height: 300px;
    color: white;
    display: flex;
    justify-content: center;
    @media (max-width: $screen-md) {
        height: 175px;
    }
    @media (max-width: $screen-sm) {
        height: 120px;
    }
    &__title {
        font-size: 2em;
        display: flex;
        align-items: center;
        height: 100%;
    
        @media (max-width: $screen-sm) {
            font-size: 24px;
            text-wrap: balance;
            padding: 20px;  
        }
    }
}



.background-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    z-index: -1;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 12px;
    }
}
